
:root {
    --fontBase: 'Poppins', sans-serif;
    --headline1: bold 95px/153.71px var(--fontBase);
    --headline2: bold 59px/95px var(--fontBase);
    --headline3: bold 48px/77px var(--fontBase);
    --headline4: bold 34px/55px var(--fontBase);
    --headline5: bold 24px/38px var(--fontBase);
    --body1: 16px/25px var(--fontBase);
    --body2: 14px/22px var(--fontBase);
    --button: bold 14px/22px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    --gradient: radial-gradient(41.48% 11.48% at 2.38% 8.52%, #2f3dd8 0%, rgba(226, 53, 53, 0) 100%), linear-gradient(135deg, #16e5ec 0%, #5151E5 100%);
    --purple: #310A90;
    --green: #42E2B8;
    --white: white;
  }
  

body {    
    background: var(--gradient);
    min-block-size: 100vh;
    color: purple;
    margin: 0;
}
.header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size:  80px;
}

.wrapper {
    max-inline-size: 1158px;
    padding-inline-end: 16px;
    padding-inline-start: 16px;
    margin: auto;
}

.menu {
    display: none;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.menu ul a {
    text-decoration: none;
    color: var(--white);
    font: var(--button);
    text-transform: uppercase;
}

.menu ul a.is-active {
    color: var(--purple);
}

@media screen and (min-width: 768px) {
    .menu {
      display: block;
    }
  }

  .button {
      background: purple;
      color:white;
      padding-inline-start: 24px;
      padding-inline-end: 24px;
      padding-block-start: 13px;
      padding-block-end: 13px;
      border-radius: 4px;
      text-transform: uppercase;
      border-radius: none;
      text-decoration: none;
      text-align: center;
  }

  .button.is-secondary {
    background: unset;
    color: purple;
    border: 2px solid purple;
  }
  